@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, .headline, .middle-content, .quote-box, .bottom-content, .footer {
    padding: 1em 20em 2em 20em;
}

h1 {
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo, .header-logo a, .header-logo a:visited {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links, .header-links a:visited {
    color: #E5E7EB;
    font-size: 18px;
}

.headline {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.headline h1 {
    color: #F9FAF8;
    font-size: 48px;
    line-height: 48px;
    font-weight: bolder;
}

.headline .content {
    flex: 1;
    align-self: flex-start;
}

.headline .media {
    flex: 1;
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.headline p {
    color: #E5E7EB;
    font-size: 18px;
}

.headline .signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border: 1px solid #3882F6;
    border-radius: 5px;
    cursor: pointer;
}

.headline .img {
    text-align: center;
}

.middle-content {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 64px;
}

.middle-content h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.middle-content p {
    color: #1F2937;
}

.middle-content .title {
    text-align: center;
    width: 100%;
}

.middle-content .media-container {
    width: 150px;
    text-align: center;
}

.middle-content .img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.quote-box{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
}

.quote-box .quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.quote-box .attribution {
    font-size: 16px;
    color: #1F2937;
    font-weight: 1000;
    font-style: normal;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.bottom-content {
    background-color: white;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-content .container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px 80px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #f9faf8;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.bottom-content h1 {
    font-size: 20px;
    font-weight: bolder;
}

.bottom-content p {
    margin: 0;

}

.bottom-content .signup {
    background-color: #3882F6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    border-radius: 10px;
    margin: 0;
    padding: 0.5em 2em;
    cursor: pointer;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    padding: 1em;
}